.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 60%;
    height: 60%;
}
.card-container{
    width: 200px;
    height: 300px;
}
.card{
    width: 100%;
    height: 100%;
    transition:transform 1s ease-in-out;
    transform-style: preserve-3d;
}

.card-container:hover .card{
    transform: rotateY(180deg);
}
.card figure{
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.card .front{
  background-color: rgb(219, 231, 231);
}
.card .back{
    background-color: rgb(230, 230, 224);
    color: rgb(0, 0, 0);
    transform: rotateY(180deg);
    text-align: center;
}